<!DOCTYPE html>
<html ng-app="keychatter">
  <head>
    <meta charset="UTF-8">
    <title>Keychatter</title>
    <link rel="stylesheet" href="../bower_components/kraken/dist/css/main.css" type="text/css">
  </head>
  <body ng-controller="ConnectionController as connection">
    
    <div id="connectionSetup" ng-hide="connection.user.selfBtcAddress && connection.user.targetBtcAddress">
      <div id="selfBtcAddressPane" ng-hide="connection.user.selfBtcAddress">
        <h1>Self BTC Address</h1>
        <form ng-submit="setSelfBtcAddress()">
          <input type="text" ng-model="name" placeholder="Name">
          <input type="email" ng-model="email" placeholder="Email">
          <input type="password" ng-model="pass" placeholder="Password">
          <input type="text" ng-model="selfBtcAddress" placeholder="Your BTC Address">
          <input type="submit" class="btn" value="Next">
        </form>
      </div>
      <div id="targetBtcAddressPane" ng-show="connection.user.selfBtcAddress">
        <h1>Target BTC Address</h1>
        <form ng-submit="setTargetBtcAddress()">
          <input type="text" ng-model="targetBtcAddress" placeholder="Target BTC Address">
          <input type="submit" class="btn" value="Connect">
        </form>
      </div>
    </div>
    
    <div id="loadingPane" ng-show="loading">
      <h1>Loading</h1>
      <h5 ng-show="peerIdSet">Received valid peer ID...</h5>
      <h5 ng-show="keypairGenerated">PGP keypair generated...</h5>
      <h5 ng-show="connectingToTarget">Connecting to target...</h5>
    </div>
    
    <div id="chatPane" ng-show="keypairGenerated && connectedToTarget">
      <h1>Chat Pane</h1>
    </div>
    
    <script type="text/javascript">
      window.$ = window.jQuery = require("../bower_components/jquery/dist/jquery.js");
    </script>
    <script src="http://cdn.peerjs.com/0.3/peer.js"></script>
    <script src="../bower_components/openpgp/dist/openpgp.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="../bower_components/bitcore-lib/bitcore-lib.min.js"></script>   
    <script src="../bower_components/kraken/dist/js/main.js"></script>
    <script src="../bower_components/kraken/dist/js/detects.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
